<div class="container">
    <div class="title">
      <i class="fa-solid fa-cart-shopping"></i> Carrinho
    </div>

    <div class="content">
        <div class="calc-shipping">
            <p>Calcular Frete:</p>
            <input type="text" placeholder="Digite aqui o CEP de entrega">
        </div>

        <div class="products">
            <app-product-card-cart></app-product-card-cart>
            <app-product-card-cart></app-product-card-cart>
        </div>

        <div class="summary">
            <div class="values">
                <div class="amount">subtotal <span>R$ 327,00</span></div>
                <div class="amount">frete <span>R$ 327,00</span></div>
            </div>
            <div class="total amount">total <span>R$ 327,00</span></div>
        </div>

        <app-button [text]="'Finalizar compra'" [color]="'#6b5995'"></app-button>
    </div>
</div>
