<div class="container">
    <div class="title">
        Carrinho
    </div>
    
    <div class="content">
        <div class="calc-shipping">
            <p>Calcular Frete:</p>
            <input type="text" placeholder="Digite o CEP de entrega">
        </div>

        <div class="products">
            produto 1 
        </div>

        <div class="summary">
            <div class="values">
                <div class="amount">subtotal <span>R$ 327,00</span></div>
                <div class="amount">frete <span>R$ 327,00</span></div>
            </div>
            <div class="total amount">total <span>R$ 327,00</span></div>
        </div>
        
        <button type="button">Finalizar compra</button>
    </div>    
</div>