<div class="content">
  <img [src]="product.img_url" alt="Imagem do produto" />

  <div class="info">
    <app-product-title [title]="product.title"></app-product-title>
    <p class="description">{{ product.description }}</p>
    <div>
      <span class="rating">
        <ng-container *ngFor="let star of getNumberOfStarsChecked()">
          <i class="fa-solid fa-star"></i>
        </ng-container>
        <ng-container *ngFor="let star of getNumberOfStars()">
          <i class="fa-regular fa-star"></i>
        </ng-container>
      </span>
      <span class="amount">{{ product.price | currency: 'BRL' }}</span>
    </div>
  </div>

  <app-button [text]="'adicionar ao carrinho'" [color]="'#60A22D'"></app-button>
</div>
