<div class="content">
  <img [src]="product.img_url" alt="Imagem do produto" />

  <div class="info">
    <p class="name">{{ product.title }}</p>
    <p class="description">{{ product.description }}</p>
    <div>
      <span class="rating">
        <ng-container *ngFor="let star of getNumberOfStarsChecked()">
          <i class="fa-solid fa-star"></i>
        </ng-container>
        <ng-container *ngFor="let star of getNumberOfStars()">
          <i class="fa-regular fa-star"></i>
        </ng-container>
      </span>
      <span class="amount">{{ product.price | currency: 'BRL' }}</span>
    </div>
  </div>

  <button type="button">
    adicionar ao carrinho
  </button>
</div>
