<div class="container">
  <img src="https://img.elo7.com.br/product/main/2B8F72F/bonecos-star-wars-4-personagens-decoracao.jpg" alt="Imagem do produto" />

  <div class="info">
    <app-product-title [title]="'Nome do produto'"></app-product-title>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>

    <div>
      <i class="fa-solid fa-minus"></i>
      <span>03</span>
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
</div>
