.container {
  display: flex;
  gap: 20px;
  margin: 20px auto;
  padding: 0 10px;
  max-width: max-content;

  .content {
    max-width: 1090px;

    app-header {
      margin-bottom: 30px;
    }
  }
}
