.container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin: 20px;

    .content {       

        app-header {
            margin-bottom: 20px;
        }
    
        .products {
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-top: 20px;
            flex-wrap: wrap;
        }
    }
}